<div class="card-wrapper">
  <z-card
    zImage="logo.png"
    zTitle="Bem-vindo ao Chama Ai"
    zDescription="Serviços rápidos e confiáveis ao seu alcance."
    class="flex flex-col w-full max-w-md text-center"
  >
    <div class="flex flex-col gap-3">
      <z-label>Tipo de conta</z-label>
      <z-radio-card-group
        [options]="radioOptions"
        [value]="selectedValue"
        (valueChange)="onSelectionChange($event)"
      />
    </div>
    <div class="flex flex-col gap-3 mt-8 mb-12">
      <z-button
        zType="default"
        zSize="lg"
        class="w-full"
        (click)="onContinue()"
        [class.opacity-50]="!selectedValue"
        [class.cursor-not-allowed]="!selectedValue"
      >
        Continuar
      </z-button>
      <p class="text-center pt-3 text-xs text-muted-foreground leading-relaxed">
        Já tem uma conta?
        <a class="underline text-primary" [routerLink]="['/auth/login']"
          >Entrar</a
        >
      </p>
    </div>
    <div class="text-center pt-3 text-xs text-muted-foreground leading-relaxed">
      Ao continuar você concorda com nossos
      <a
        [routerLink]="['/terms-of-service']"
        class="hover:underline text-primary"
      >
        Termos de Serviço
      </a>
      e
      <a
        [routerLink]="['/privacy-policy']"
        class="hover:underline text-primary"
      >
        Política de Privacidade
      </a>
      .
    </div>
  </z-card>
</div>
