<z-card
  zTitle="Criar conta"
  zDescription="Por favor preencha seus dados para iniciar o cadastro."
  class="flex flex-col w-full max-w-sm"
>
  <form
    [formGroup]="startSignupForm"
    (ngSubmit)="handleSubmit()"
    class="mt-5 flex flex-col gap-7"
  >
    <div class="form-field">
      <div class="flex items-center">
        @if (loginMethod() === 'email') {
        <z-label>Email</z-label>
        <div
          (click)="switchToPhone()"
          class="ml-auto text-sm text-muted-foreground hover:text-foreground transition-colors duration-300 cursor-pointer"
        >
          <div class="flex gap-1 items-center">
            <lucide-icon class="h-3.5 w-3.5" name="smartphone" />
            Usar Telefone
          </div>
        </div>
        } @else {
        <z-label>Telefone</z-label>
        <div
          (click)="switchToEmail()"
          class="ml-auto text-sm text-muted-foreground hover:text-foreground transition-colors duration-300 cursor-pointer"
        >
          <div class="flex gap-1 items-center">
            <lucide-icon class="h-3.5 w-3.5" name="mail" />
            Usar Email
          </div>
        </div>
        }
      </div>
      <z-input
        [formControlName]="loginMethod() === 'email' ? 'email' : 'phoneNumber'"
        [id]="loginMethod() === 'email' ? 'email' : 'phone'"
        [type]="loginMethod() === 'email' ? 'email' : 'tel'"
        [placeholder]="
          loginMethod() === 'email' ? 'voce@dominio.com' : '(00) 00000-0000'
        "
        [zStatus]="getFieldStatus()"
        (input)="loginMethod() === 'phone' ? onPhoneInput($event) : null"
      />
      @if (hasError()) {
      <div class="text-destructive text-sm mt-1">
        {{ getErrorMessage() }}
      </div>
      }
    </div>
    <div>
      <button
        z-button
        zType="default"
        zSize="lg"
        class="w-full"
        type="submit"
        [class.opacity-50]="!isFormValidForSubmit()"
        [class.cursor-not-allowed]="!isFormValidForSubmit()"
        [disabled]="!isFormValidForSubmit()"
      >
        {{
          loginMethod() === "email"
            ? "Continuar com o Email"
            : "Continuar com o Telefone"
        }}
      </button>
      <z-divider class="mt-5 mb-5" />
      <z-button
        zImage="google-icon.svg"
        zType="outline"
        zSize="lg"
        class="w-full"
      >
        Iniciar sessão com o Google
      </z-button>
    </div>
  </form>
</z-card>

<z-toast />
